libs/jquery.browser.js
libs/jquery.rateyo.js
libs/FullCalendar/fullcalendar.js
libs/FullCalendar/locale-all.js
libs/FancyBox/jquery.fancybox.js
libs/jstree.js
libs/jsuites.js
libs/jspreadsheet.js
libs/select2.js
libs/Sortable.js
