parameters:
	ignoreErrors:
		-
			message: "#^Class MediaWiki\\\\Watchlist\\\\WatchlistManager not found\\.$#"
			count: 1
			path: ../includes/PF_FormUtils.php
		-
			message: "#^Class MediaWiki\\\\Watchlist\\\\WatchlistManager not found\\.$#"
			count: 1
			path: ../specials/PF_UploadWindow.php
