parameters:
	ignoreErrors:
		# MW < 1.34
		# ---------
		-
			message: "#^Call to an undefined static method MessageCache\\:\\:singleton\\(\\)\\.$#"
			count: 1
			path: ../includes/PF_AutoeditAPI.php
		-
			message: "#^Call to an undefined static method RepoGroup\\:\\:singleton\\(\\)\\.$#"
			count: 1
			path: ../includes/forminputs/PF_ComboBoxInput.php
		-
			message: "#^Call to an undefined static method RepoGroup\\:\\:singleton\\(\\)\\.$#"
			count: 1
			path: ../includes/forminputs/PF_TokensInput.php
		-
			message: "#^Function wfLocalFile not found\\.$#"
			count: 1
			path: ../includes/parserfunctions/PF_TemplateDisplay.php
		-
			message: "#^Function wfLocalFile not found\\.$#"
			count: 1
			path: ../specials/PF_UploadWindow.php
