parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$data might not be defined\\.$#"
			count: 1
			path: ../includes/PF_AutocompleteAPI.php

		-
			message: "#^Variable \\$formHTML might not be defined\\.$#"
			count: 2
			path: ../includes/PF_AutoeditAPI.php

		-
			message: "#^Variable \\$form_page_title might not be defined\\.$#"
			count: 1
			path: ../includes/PF_AutoeditAPI.php

		-
			message: "#^Variable \\$generatedTargetNameFormula might not be defined\\.$#"
			count: 1
			path: ../includes/PF_AutoeditAPI.php

		-
			message: "#^Variable \\$targetContent might not be defined\\.$#"
			count: 2
			path: ../includes/PF_AutoeditAPI.php

		-
			message: "#^Access to constant MAIN on an unknown class MediaWiki\\\\Storage\\\\SlotRecord\\.$#"
			count: 1
			path: ../includes/PF_CreatePageJob.php

		-
			message: "#^Undefined variable\\: \\$page_value$#"
			count: 5
			path: ../includes/PF_FormPrinter.php

		-
			message: "#^Variable \\$other_args might not be defined\\.$#"
			count: 1
			path: ../includes/PF_FormPrinter.php

		-
			message: "#^Variable \\$form_title might not be defined\\.$#"
			count: 1
			path: ../includes/PF_FormUtils.php

		-
			message: "#^Parameter \\$resourceLoader of method PFHooks\\:\\:registerModules\\(\\) has invalid type ResourceLoader\\.$#"
			count: 1
			path: ../includes/PF_Hooks.php

		-
			message: "#^Class PSTemplate not found\\.$#"
			count: 1
			path: ../includes/PF_PageSchemas.php

		-
			message: "#^Variable \\$propName might not be defined\\.$#"
			count: 1
			path: ../includes/PF_PageSchemas.php

		-
			message: "#^Variable \\$useSubobject might not be defined\\.$#"
			count: 1
			path: ../includes/PF_Template.php

		-
			message: "#^Call to an undefined static method SMW\\\\DataValueFactory\\:\\:findTypeID\\(\\)\\.$#"
			count: 1
			path: ../includes/PF_TemplateField.php

		-
			message: "#^Call to an undefined static method SMWQueryProcessor\\:\\:processFunctionParams\\(\\)\\.$#"
			count: 1
			path: ../includes/PF_ValuesUtils.php

		-
			message: "#^Undefined variable\\: \\$printouts$#"
			count: 1
			path: ../includes/PF_ValuesUtils.php

		-
			message: "#^Undefined variable\\: \\$processedParams$#"
			count: 3
			path: ../includes/PF_ValuesUtils.php

		-
			message: "#^Undefined variable\\: \\$queryString$#"
			count: 2
			path: ../includes/PF_ValuesUtils.php

		-
			message: "#^Variable \\$allEnglishNamespaces might not be defined\\.$#"
			count: 1
			path: ../includes/PF_ValuesUtils.php

		-
			message: "#^Variable \\$ampm24h might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_DateTimeInput.php

		-
			message: "#^Variable \\$hour might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_DateTimeInput.php

		-
			message: "#^Variable \\$minute might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_DateTimeInput.php

		-
			message: "#^Variable \\$second might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_DateTimeInput.php

		-
			message: "#^Variable \\$timezone might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_DateTimeInput.php

		-
			message: "#^Variable \\$file might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_LeafletInput.php

		-
			message: "#^Variable \\$imageHeight might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_LeafletInput.php

		-
			message: "#^Variable \\$imageWidth might not be defined\\.$#"
			count: 1
			path: ../includes/forminputs/PF_LeafletInput.php

		-
			message: "#^Variable \\$targetTitle might not be defined\\.$#"
			count: 1
			path: ../includes/parserfunctions/PF_AutoEdit.php

		-
			message: "#^Variable \\$autocompletionType might not be defined\\.$#"
			count: 1
			path: ../includes/parserfunctions/PF_FormInputParserFunction.php

		-
			message: "#^Variable \\$targetTitle might not be defined\\.$#"
			count: 2
			path: ../includes/parserfunctions/PF_FormLink.php

		-
			message: "#^Variable \\$allowed_values might not be defined\\.$#"
			count: 1
			path: ../specials/PF_CreateClass.php

		-
			message: "#^Method PFCreateForm\\:\\:inputTypeParamInput\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: ../specials/PF_CreateForm.php

		-
			message: "#^Variable \\$optionAttrs might not be defined\\.$#"
			count: 1
			path: ../specials/PF_CreateForm.php

		-
			message: "#^Class OOUI\\\\HtmlSnippet referenced with incorrect case\\: OOUi\\\\HtmlSnippet\\.$#"
			count: 2
			path: ../specials/PF_CreateTemplate.php

		-
			message: "#^Class SMW\\\\SQLStore\\\\PropertiesCollector not found\\.$#"
			count: 1
			path: ../specials/PF_CreateTemplate.php

		-
			message: "#^Class SMW\\\\SQLStore\\\\UnusedPropertiesCollector not found\\.$#"
			count: 1
			path: ../specials/PF_CreateTemplate.php

		-
			message: "#^Call to an undefined static method HTMLTextField\\:\\:userCanExecute\\(\\)\\.$#"
			count: 1
			path: ../specials/PF_UploadSourceField.php

		-
			message: "#^Call to an undefined method PFUploadWindow\\:\\:showDeletionLog\\(\\)\\.$#"
			count: 1
			path: ../specials/PF_UploadWindow.php

		-
			message: "#^Class ResourceLoader not found\\.$#"
			count: 1
			path: ../tests/phpunit/integration/includes/PF_HooksTest.php
