parameters:
	ignoreErrors:
		
		# Compatibility SMW < 3.0
		# -----------------------
		-	
			message: "#^Call to static method makeUserProperty\\(\\) on an unknown class SMWPropertyValue\\.$#"
			count: 2
			path: ../includes/PF_AutocompleteAPI.php


		# External Data extension
		# -----------------------
		-	
			message: "#^Call to static method getAllValues\\(\\) on an unknown class EDParserFunctions\\.$#"
			count: 1
			path: ../includes/PF_Hooks.php

		# Admin Links extension
		# ---------------------
		-
			message: "#^Call to static method newFromExternalLink\\(\\) on an unknown class ALItem\\.$#"
			count: 1
			path: ../includes/PF_Hooks.php
		-
			message: "#^Call to static method newFromSpecialPage\\(\\) on an unknown class ALItem\\.$#"
			count: 9
			path: ../includes/PF_Hooks.php
		-
			message: "#^Instantiated class ALRow not found\\.$#"
			count: 2
			path: ../includes/PF_Hooks.php
		-
			message: "#^Instantiated class ALSection not found\\.$#"
			count: 1
			path: ../includes/PF_Hooks.php


		# Confirm Edit extension
		# ----------------------
		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class ConfirmEditHooks\\.$#"
			count: 1
			path: ../specials/PF_FormEdit.php

		# Cargo extension
		# ---------------
		-
			message: "#^Call to static method getTableSchemas\\(\\) on an unknown class CargoUtils\\.$#"
			count: 1
			path: ../includes/PF_AutocompleteAPI.php
		-
			message: "#^Call to static method newFromValues\\(\\) on an unknown class CargoSQLQuery\\.$#"
			count: 1
			path: ../includes/PF_AutocompleteAPI.php
		-
			message: "#^Call to static method getPageProp\\(\\) on an unknown class CargoUtils\\.$#"
			count: 3
			path: ../includes/PF_Template.php
		-
			message: "#^Call to static method getTableNameForTemplate\\(\\) on an unknown class CargoUtils\\.$#"
			count: 1
			path: ../includes/PF_Template.php
		-
			message: "#^Call to static method getTemplateIDForDBTable\\(\\) on an unknown class CargoUtils\\.$#"
			count: 1
			path: ../includes/PF_Template.php
		-
			message: "#^Call to static method newFromDBString\\(\\) on an unknown class CargoTableSchema\\.$#"
			count: 1
			path: ../includes/PF_Template.php
		-
			message: "#^Call to static method getTableSchemas\\(\\) on an unknown class CargoUtils\\.$#"
			count: 1
			path: ../includes/PF_TemplateField.php
		-
			message: "#^Call to static method newFromValues\\(\\) on an unknown class CargoSQLQuery\\.$#"
			count: 1
			path: ../includes/PF_ValuesUtils.php
		-
			message: "#^Call to static method parseCoordinatesString\\(\\) on an unknown class CargoUtils\\.$#"
			count: 1
			path: ../includes/parserfunctions/PF_TemplateDisplay.php
		-
			message: "#^Call to static method smartSplit\\(\\) on an unknown class CargoUtils\\.$#"
			count: 1
			path: ../specials/PF_CreateClass.php
		-
			message: "#^Instantiated class CargoFieldDescription not found\\.$#"
			count: 1
			path: ../includes/parserfunctions/PF_TemplateDisplay.php
		-
			message: "#^Instantiated class CargoMapsFormat not found\\.$#"
			count: 1
			path: ../includes/parserfunctions/PF_TemplateDisplay.php
		-
			message: "#^Call to static method smartSplit\\(\\) on an unknown class CargoUtils\\.$#"
			count: 1
			path: ../specials/PF_CreateTemplate.php
